* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-font: "poppins";
  --secondary-font: "Roboto";
  --tertiary-font: "Inter";
  --tettra-font: "Manrope";
  --primary-color: #848199;
}
body {
  font-family: var(--primary-font);
}
a {
  text-decoration: none;
}
.floating-btn {
  position: fixed;
  bottom: 200px;
  right: 20px;
  z-index: 999;
  background: transparent;

  border: none;

  cursor: pointer;
}
nav {
  font-family: var(--primary-font);
}
.container {
  padding: 22px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.navbar-brand h1 {
  font-size: 22px;
  font-weight: 700;
}
.nav-item {
  font-size: 16px;
}

/*hero section */
.hero {
  position: relative;
  width: 100%;
}
.hero-container {
  max-width: 1440px;
  margin: 0 auto;
}
.hero-slide {
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.carousel-control-next .carousel-control-prev {
  width: 4rem;
  height: 3rem;
}
.carousel-indicators {
  bottom: 10px;
}
.carousel-indicators [data-bs-target] {
  width: 68px;
  height: 4px;
  border-radius: 10px;
}
.hero-content {
  position: absolute;
  z-index: 3;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: #fff;
  padding-top: 90px;
  padding-bottom: 60px;
}
.hero-title h1 {
  font-size: 48px;
  font-weight: 600;
}
.hero-description p {
  font-size: 16px;
  font-weight: 300;
}
.book-now {
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
}
.book-now a {
  font-weight: 700;
}
.momenmt {
  width: 100%;
}
.moment-container {
  max-width: 1440px;
  margin: 100px auto;
}
.moment-img img {
  width: 100%;
  height: 364px;
}

/*Moment section */
.moment-text {
  margin: auto;
  padding: 0 10px;
}
.momemt-title h1 {
  font-size: 38px;
  font-weight: 700;
}
.moment-description p {
  font-weight: 700;
  color: #6c6c6c;
  line-height: 28px;
}
.mobile-img {
  visibility: hidden;
}
.mobile-img img {
  height: 0px;
  width: 0px;
}

.album-btn .btn {
  border-radius: 0;
}
.album-btn span {
  margin-left: 10px;
}

/*Our Package*/
.our-package {
  width: 100%;
}
.Package-container {
  max-width: 1440px;
  margin: auto;
}

.Package-title h1 {
  font-size: 38px;
  font-weight: 600;
}
.our-package-row {
  margin-top: 12rem;
  margin-bottom: 12rem;
}
.card {
  border: none;
}
.card-header {
  font-family: var(--secondary-font);
  font-weight: 700;
}
.Package-price h1 {
  font-size: 36px;
  font-family: var(--secondary-font);
  font-weight: 700;
}
.Package-name h2 {
  font-size: 28px;
  font-family: var(--secondary-font);
  font-weight: 700;
}
.Package-name p {
  font-size: 15px;
  color: var(--primary-color);
}
.Package-body span {
  font-size: 15px;
  color: var(--primary-color);
  margin-left: 5px;
}

.svg-class {
  background: rgb(230, 217, 235);
  border-radius: 50%;
}
.package-button {
  text-align: center;
  background: #f496d1;
  border-radius: 50px;
  padding: 10px;
  border: none;
}
.card-3 {
  background: #3f87f5;
  color: #fff;
  padding: 50px 30px;
  margin-top: -100px;
  border-radius: 40px;
}
.card-3 p {
  color: #fff;
}
.card-3 .Package-body span {
  color: #fff;
}
.card-3 .package-button {
  background: #fff;
}
/*clients Section*/
.clients {
  width: 100%;
}
.clients-container {
  max-width: 1440px;
  margin: auto;
  margin-bottom: 30px;
}
.client-title {
  margin-bottom: 6.5rem;
}
.client-title h1 {
  font-size: 38px;
  font-weight: 600;
}
.client-row .card {
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.client-comment {
  font-size: 16px;
  font-weight: 400;
  color: #6c6c6c;
  margin-bottom: 20px;
}

.client-img img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.client-details {
  margin-top: 20px;
}
.client-details h2 {
  font-size: 14px;
  font-weight: 600;
}
.client-details p {
  font-size: 14px;
  font-weight: 600;
  color: #747474;
  margin-bottom: 0px;
}
/*faq section */
.faq {
  width: 100%;
}
.faq-container {
  max-width: 1440px;
  margin: auto;
  margin-bottom: 10rem;
}
.faq-titel {
  margin: 9rem auto 7rem;
}
.faq-titel h1 {
  font-size: 38px;
  font-weight: 600;
}
.accordion {
  padding: 30px 0;
}
.faq-img {
  padding: 30px 0;
}
.faq-img img {
  width: 546px;
  height: 364px;
  border-radius: 5px;
}
@media (max-width: 991px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-brand h1 {
    font-size: 14px;
    font-weight: 700;
  }
  /*hero*/

  .hero-title h1 {
    font-size: 24px;
    font-weight: 600;
  }
  .book-now {
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
  }
  .book-now a {
    font-weight: 700;
    font-size: 14px;
  }

  /*moment section*/

  .moment-container {
    padding: 0 20px;
  }
  .moment-img {
    display: none;
  }

  .mobile-img img {
    width: 85dvw;
    height: 300px;
  }
  .mobile-img {
    visibility: visible;
    margin-bottom: 30px;
  }

  .moment-text {
    padding: 40px 20px;
  }
  .moment-title {
    text-align: center;
  }
  .album-btn {
    text-align: center;
  }

  /*Our Packeg section */

  .our-package-row {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .card {
    margin: 30px;
  }
  .card-3 {
    margin-top: 0px;
    margin: 0 30px;
  }
  button {
    width: 200px;
  }

  /*client section */
  .client-title {
    margin-bottom: 10px;
  }
  .client-title h1 {
    font-size: 19px;
    font-weight: 600;
    color: #222221;
  }
}
