* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-font: "poppins", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --tertiary-font: "Inter", sans-serif;
  --tettra-font: "Manrope";
  --primary-color: #848199;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

body {
  font-family: var(--primary-font);
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.floating-btn {
  position: fixed;
  bottom: 200px;
  right: 20px;
  z-index: 999;
  background: transparent;

  border: none;

  cursor: pointer;
}
nav {
  font-family: var(--primary-font);
}
.container {
  padding: 22px 0;

  margin: 0 auto;
}
.navbar-brand h1 {
  font-size: 22px;
  font-weight: 700;
}
.nav-item {
  font-size: 16px;
  color: #3e3e3e;
}
.nav-link:hover {
  color: #3f87f5;
}

/*hero section */
.hero {
  position: relative;
  width: 100%;
}
.hero-container {
  max-width: 1440px;
  margin: 0 auto;
}
.hero-slide {
  height: 90vh;
  background-size: cover;
  background-position: center;
}
.carousel-control-next,
.carousel-control-prev {
  top: 112px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 70px;
  height: 54px;
}
.carousel-indicators {
  bottom: 0px;
}
.carousel-indicators [data-bs-target] {
  width: 68px;
  height: 5px;
  border-radius: 10px;
}
.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 2;
}
.hero-content {
  position: absolute;
  z-index: 3;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: #fff;
  padding-top: 90px;

  width: 639px;
}

.hero-title h1 {
  font-size: 48px;
  font-weight: 600;
}
.hero-description p {
  font-size: 16px;
  font-weight: 300;
}
.book-now {
  padding: 10px 50px;
  border: none;
  border-radius: 5px;
}
.book-now a {
  font-weight: 700;
}

/*Moment section */
.momenmt {
  width: 100%;
}
.moment-container {
  max-width: 1160px;
  margin: 100px auto;
}
.moment-img img {
  width: 100%;
  border-radius: 5px;
}
.moment-text {
  margin: auto;
  padding: 0 30px;
}
.momemt-title h1 {
  font-size: 38px;
  font-weight: 700;
}
.moment-description p {
  font-weight: 700;
  color: #6c6c6c;
  line-height: 28px;
}
.mobile-img {
  visibility: hidden;
}
.mobile-img img {
  height: 0px;
  width: 0px;
}

.album-btn .btn {
  border-radius: 0;
  background: #3f87f5;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 24px;
}

.album-btn span {
  margin-left: 10px;
}

/*Our Package*/

.Package-text {
  margin-left: 10px;
}
ul {
  padding-left: 0px;
  margin-bottom: 0px;
}
.pricing-card {
  border-radius: 20px;
  transition: transform 0.3s;
  padding: 2rem 1rem;
  width: 100%;
  /* margin: 10px 20px; */
}

.btn-outline-primary-custom {
  background-color: #fff0f5;
  color: #4e73df;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
  font-weight: bold;
}

.alert-custom {
  border-left: 8px solid #4e73df;
  top: 35%;
  left: 66%;
  z-index: 100;
  border-radius: 4px;
  white-space: normal;
}

.text-decoration {
  color: #848199;
  font-size: 15px;
  font-weight: 400;
  margin-left: 10px;
}
.pricing-card:hover {
  background-color: #4e73df;

  transform: translateY(-50px);
  box-shadow: 0 20px 20px rgba(57, 100, 241, 0.336);
}
.pricing-card:hover .card-price,
.pricing-card:hover p.text-decoration,
.pricing-card:hover ul li.text-decoration,
.pricing-card:hover ul li .text-decoration .option .svg-style svg {
  color: #ffffff !important;
  opacity: 1 !important;
  transform: translateY(-10px);
}
.pricing-card:hover svg path {
  fill: #ffffff !important;
}
.pricing-card:hover .svg-style {
  background-color: #fff1a;
}

.btn-outline-primary-custom:hover {
  background-color: #ffffff;
  color: #4e73df;
  border: none;
}
.our-package {
  width: 100%;
  padding: 20px;
}
.Package-container {
  max-width: 1170px;
  margin: auto;
}

.Package-title h1 {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 9rem;
}
.our-package-row {
  margin-top: 12rem;
  margin-bottom: 12rem;
}
.card {
  border: none;
}

.svg-class {
  text-align: center;
  margin-bottom: 5px;
}

.option {
  display: flex;

  align-items: center;
  margin-bottom: 16px;
}
.svg-style {
  background-color: rgb(230, 217, 235);

  height: 20px;
  width: 20px;

  border-radius: 50%;
}

/*clients Section*/
.clients {
  width: 100%;
}
.clients-container {
  max-width: 1160px;
  margin: auto;
  margin-bottom: 30px;
}
.client-title {
  margin-bottom: 6.5rem;
}
.client-title h1 {
  font-size: 38px;
  font-weight: 600;
}
.client-row .col-md-4 {
  padding: 1.5rem;
}

.client-row .card {
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 2px 3px 9px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.client-comment {
  font-size: 16px;
  font-weight: 400;
  color: #6c6c6c;
  margin-bottom: 20px;
}

.client-img img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.client-details {
  margin-top: 20px;
}
.client-details h2 {
  font-size: 14px;
  font-weight: 600;
}

.client-details p {
  font-size: 14px;
  font-weight: 600;
  color: #747474;
  margin-bottom: 0px;
}
/*faq section */
.faq {
  width: 100%;
}
.faq-container {
  max-width: 1122px;
  margin: auto;
  margin-bottom: 10rem;
}
.faq-titel {
  margin: 9rem auto 7rem;
}
.faq-titel h1 {
  font-size: 38px;
  font-weight: 600;
}
.faq .row {
  align-items: center;
  justify-content: center;
}
.accordion {
  padding: 30px 0;
}
.accordion-button {
  font-family: var(--tertiary-font);
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #383838;
}

.accordion-header {
  font-family: var(--tertiary-font);
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #383838;
}
.accordion-button:not(.collapsed) {
  color: #383838;
}
.accordion-button::after {
  filter: brightness(0);
}
.accordion-body p {
  font-family: var(--tertiary-font);
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #7e848c;
  text-align: left;
}
.faq-img {
  padding: 30px 0;
}
.faq-img img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/*footer*/
.footer {
  width: 100%;
  background: black;
}
.footer-container {
  max-width: 1122px;
  margin: auto;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 84px;
}
.footer-left {
  color: #fff;
  opacity: 0.66;
}
.footer-right {
  width: 160px;
  min-height: 140px;
}
.footer-right h1 {
  font-family: var(--tettra-font);
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  opacity: 0.66;
}

.footer-row {
  padding: 70px;
}

.apple svg {
  margin-bottom: 20px;
}
.android svg {
  margin-bottom: 20px;
}

@media (max-width: 991px) {
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .floating-btn {
    position: fixed;
    bottom: 30rem;
    right: 0px;
    z-index: 999;
    background: transparent;

    border: none;

    cursor: pointer;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-brand h1 {
    font-size: 14px;
    font-weight: 700;
  }
  /*hero*/
  .hero-content {
    width: 320px;
  }

  .hero-title h1 {
    font-size: 24px;
    font-weight: 600;
  }
  .book-now {
    padding: 10px 50px;
    border: none;
    border-radius: 5px;
  }
  .book-now a {
    font-weight: 700;
    font-size: 14px;
  }

  /*moment section*/

  .moment-container {
    padding: 0 20px;
    margin-bottom: 50px;
  }
  .moment-img {
    display: none;
  }
  .momemt-title h1 {
    font-size: 19px;
    font-weight: 700;
  }
  .moment-description p {
    font-weight: 700;
    color: #6c6c6c;
    line-height: 28px;
    font-size: 15px;
  }
  .mobile-img img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
  }
  .mobile-img {
    visibility: visible;
    margin-bottom: 30px;
  }

  .moment-text {
    padding: 40px 20px;
  }
  .moment-title {
    text-align: center;
  }
  .album-btn {
    text-align: center;
  }

  /*Our Packeg section */

  .our-package-row {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .Package-title h1 {
    margin-bottom: 3rem;
  }

  .alert-custom {
    transform: translateX(-50%);
  }

  .pricing-card:hover {
    transform: translateY(-10px);
  }

  /*client section */
  .client-title {
    margin-bottom: 10px;
  }
  .client-title h1 {
    font-size: 19px;
    font-weight: 600;
    color: #222221;
  }
  .client-row .col-md-4 .card {
    margin-bottom: 30px;
  }
  .col-md-4 {
    padding: 30px;
  }

  /*faq Section */
  .faq-titel {
    margin: 30px auto;
  }
  .faq-titel h1 {
    font-size: 19px;
    font-weight: 600;
    color: #222221;
  }
  .faq-container {
    padding: 20px;
    margin-bottom: 30px;
  }
  /* .faq-img img {
    width: 324px;
    height: 301px;
  } */
  .faq-img img {
    max-width: 100%;
    height: auto;
  }
  .accordion-button {
    font-family: var(--tertiary-font);
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #383838;
  }
  /* .accordion-header {
    font-family: var(--tertiary-font);
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #383838;
  } */

  .accordion-body p {
    font-family: var(--tertiary-font);
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: #7e848c;
    text-align: left;
  }

  .footer-main {
    flex-direction: column-reverse;
   
  }
  .footer-right {
    margin-bottom: 30px;
  }
  .footer-left p{
    font-size: 14px;
    font-weight: 400;
  }
